body{
    background: gray;
}
h2{
    color: white;
    text-align: center;
    font-size: 5rem;
}
article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
table, td, th{
    text-align: center;
    border: 1px solid;
    padding: 15px;

}
button{
    background: black;
    color: white;
}
